<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="zlc.season.demo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".singleitem.SingleItemActivity">
        </activity>
        <activity
            android:name=".grid.GridActivity"
            android:label="@string/title_activity_grid"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".multipleitem.MultiItemActivity"
            android:label="@string/title_activity_multi_item"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".staggered.StaggeredActivity"
            android:label="@string/title_activity_staggered"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".singleitem.ManualLoadMoreActivity"
            android:label="@string/ManualLoadMoreActivity"/>
        <activity
            android:name=".lineardrag.LinearDragActivity"
            android:label="@string/title_activity_item_drag"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>